<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>531599313108-bpma46rpvj2f4tmsnv4iffa3ok009cvo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.531599313108-bpma46rpvj2f4tmsnv4iffa3ok009cvo</string>
	<key>API_KEY</key>
	<string>AIzaSyCFyeNkNrKFNz2U7kE8ylgtohhsQkkN8lU</string>
	<key>GCM_SENDER_ID</key>
	<string>531599313108</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.expiry</string>
	<key>PROJECT_ID</key>
	<string>expiry-ce907</string>
	<key>STORAGE_BUCKET</key>
	<string>expiry-ce907.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:531599313108:ios:ac133bf56d0f154e9dd341</string>
</dict>
</plist>